<!DOCTYPE html>
<html lang="en">
<%- include('partial/header', {title: "Bbiz"}); %>
<body>
<hr class="my-4">
<div class="container">
    <% if (error !== null) { %>
    <div class="row">
        <div class="col-12">
            <p><%= error %></p>
        </div>
    </div>
    <hr class="my-4">
    <% } %>
    <div class="row">
        <div class="col-12">
            <form action="/bbiz" method="post">
                <select name="bbiz_group" style="min-width: 25%;">
                    <% if (select !== null) { %>
                    <% select.forEach(function(item,i){%>
                    <option label="<%= item %>" value="<%= item %>"><%= item %></option>
                    <% }); %>
                    <% } %>
                </select>
                <select name="benef" style="min-width: 15%;margin-left: 10%;">
                    <option label="50.000" value="50000">50.000</option>
                    <option label="35.000" value="35000">35.000</option>
                    <option label="25.000" value="25000">25.000</option>
                    <option label="15.000" value="15000">15.000</option>
                    <option label="10.000" value="10000">10.000</option>
                    <option label="5.000" value="5000">5.000</option>
                </select>
                <input type="submit" value="Let the magic work !" style="margin-left:10%;min-width: 25%;">
            </form>
        </div>
    </div>
    <div class="row">
        <% if (info !== null) { %>
        <div class="col-2">
            <p class="text-center"> Category asked : </p>
        </div>
        <div class="col-2">
            <p class="capitalize text-success"> <%= info.substring(0,info.length-5) %></p>
        </div>
        <% } %>
        <% if (benefAskedAffichage !== null) { %>
        <div class="col-2">
            <p class="text-center"> Benefice asked : </p>
        </div>
        <div class="col-2">
            <p class="capitalize text-success"> <%= benefAskedAffichage %></p>
        </div>
        <% } %>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Item</th>
                <th>Tiers</th>
                <th>Enchant</th>
                <th>Qualité</th>
                <th>Prix BM</th>
                <th>Prix CA</th>
                <th>Benef</th>
            </tr>
            </thead>
            <tbody>
            <% if (data !== null) { %>
            <% data.forEach(y=>{ %>
            <% y.forEach(z=>{ %>
            <tr>
                <td>
                    <img width="64" height="64" src="<%=z.src%>" </img>
                    <button onclick="clipboard('<%= z.nom %>')">
                        <input type="text" id="<%= z.nom %>" value="<%= z.nom %>"></input>
                    </button>
                </td>
                <td><%= z.tiers %></td>
                <td><%= z.enchant %></td>
                <td><%= z.qualite %></td>
                <td>
                    <p><%= z.bm_prix %></p>
                    <p><%= z.bm_date %></p>
                </td>
                <td>
                    <p><%= z.ca_prix %></p>
                    <p><%= z.ca_date %></p>
                </td>
                <td><%= z.benef %></td>
            </tr>
            <% }); %>
            <% }); %>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<script>
    function clipboard(id) {
        var copyText = document.getElementById(id);
        copyText.select();
        document.execCommand('copy');
    }
</body>
</html>