<!DOCTYPE html>
<html lang="en">
    <link href="/css/foundry.css" rel="stylesheet" type="text/css">
    <%- include('partial/header', {title: "Foundry"}); %>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
    <body>
        <hr class="my-4">
        <div class="container">
            <form action="/foundry" method="post">
                <div class="form-row">
                    <div class="col-3">
                        <select name="category" class="form-control" >
                            <option value="" disabled <%= selected.category ? "" : "selected" %> >Category</option>
                            <% fileList.forEach(y=>{ y=y.replace('.json','')%>
                                <option label="<%= y %>" value="<%= y %>" <%= y == selected.category ? "selected" : ""  %> ><%= y %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-3">
                        <select name="city" class="form-control">
                            <option value="" disabled <%= selected.city ? "" : "selected" %>>City</option>
                            <% cities.forEach(y=> {%>
                                <option label="<%= y %>" value="<%= y %>" <%= y == selected.city ? "selected" : ""  %> ><%= y %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-4">
                        <% tiers.forEach(y=>{ %>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tiers" id="<%= 'T' + y %>" value="<%= y %>" <%= (selected.tiers && selected.tiers.includes(y + "")) ? "checked" : ""  %> >
                                <label class="form-check-label" for="<%= 'T' + y %>"><%= 'T' + y %></label>
                            </div>
                        <% }); %>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-search"></i> Lookup</button>
                    </div>
                </div>
            </form>
            <br>
             <% if (listItems !== null) { %>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Before</th>
                        <th></th>
                        <th>After</th>
                        <th>Benef</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% listItems.forEach(y=>{ %>
                    <tr>
                        <td>
                            <%= y.item %>
                        </td>
                        <td>
                            <img width="64" height="64" src="<%=y.src%>"></img>
                            <p class='silver'><%= y.price %></p>
                        </td>
                        <td>
                            <p>
                                <%=y.ratio%> x 
                                <img width="32" height="32" src="<%=y.src_enchant%>"></img>
                            </p>
                            <p class='silver' data-toggle="tooltip" data-placement="left" title="<%=y.price_enchant%> /u">
                                <%=y.complete_price_enchant%>
                            </p>
                        </td>
                        <td>
                            <img width="64" height="64" src="<%=y.src_next%>"></img>
                            <p class='silver'><%= y.price_next %></p>
                        </td>
                        <td>
                            <p class='silver'><%= y.benef %></p>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
            <% }; %>
        </div>
    </body>
</html>