<!DOCTYPE html>
<html lang="en">
    <link href="/css/foundry.css" rel="stylesheet" type="text/css">
    <%- include('partial/header', {title: "Recipe"}); %>
    <script>
        $(function(){
            $('#itemSelect').prop("disabled",true);     // Disable item select since no cat chosen
            $('#catSelect').prop("disabled",true);     // Disable item select since no cat chosen
            $('#typeSelect').change( _ => {
                let type = $('[name=typeSelect]').val()
                $.ajax({
                    url: "recipe/get-type",
                    data: {types : type},
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        // console.log(data);
                        $('#catSelect option:not(:disabled)').remove();
                        for (d of data ) {
                            $('#catSelect').append(
                                $('<option>')
                                    .attr('label',d)
                                    .attr('value',d)
                                    .text(d)
                            )
                        }
                        $('#catSelect').prop("disabled",false);
                    },
                    error : function(error) {
                        $('#itemSelect').empty();
                    }
                });
            });

            $('#catSelect').change( _ => {
                let cat = $('[name=category]').val()
                $.ajax({
                    url: "recipe/get-category",
                    data: {category : cat},
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        $('#itemSelect option:not(:disabled)').remove();
                        for (d of data ) {
                            $('#itemSelect').append(
                                $('<option>')
                                    .attr('label',d.UniqueName)
                                    .attr('value',d.UniqueName)
                                    .text(d.UniqueName)
                            )
                        }
                        $('#itemSelect').prop("disabled",false);
                    },
                    error : function(error) {
                        $('#itemSelect').empty();
                    }
                });
            });

            $('#searchRecipe').click( _ => {
                $('#reciperesult').empty();
                let item = $('[name=itemSelect]').val();
                let city = "Caerleon";
                // console.log(item + city);
                $.ajax({
                    url: "recipe/query",
                    data: {item,city},
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success:function (data) {
                        console.log(data);
                        $('#reciperesult').append("This is a succes !" +item + " <br> " );
                        $('#reciperesult').append(data);

                    },
                    error:function (error) {
                        $('#reciperesult').empty();
                        // WTF
                        console.log(error);
                    }
                })
            });
        });


    </script>
    <body>
        <div class="container pt-sm-5">
                <form>
                    <div class="form-row">
                        <div class="col-3">
                            <select id="typeSelect" name="typeSelect" class="form-control">
                                <option value="" disabled selected>Types</option>
                                <% if(types !== null) { %>
                                  <% types.forEach(y=>{y=y.replace('.json','') %>
                                <option label="<%= y %>" value="<%= y %>" > <%= y %></option>
                                <% });%>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-3">
                            <select id="catSelect" name="category" class="form-control">
                                <option value="" disabled selected>Category</option>
                                <% if(categories !== null) { %>
                                    <% categories.forEach(y=>{y=y.replace('.json','') %>
                                    <option label="<%= y %>" value="<%= y %>" > <%= y %></option>
                                    <% });%>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-3">
                                <select id="itemSelect" name="itemSelect" class="form-control">
                                    <option value="" disabled selected> Item </option>
                                </select>
                        </div>
                        <!--  Disabled cities for now -> Default = Caerleon
                                              <div class="col-3">
							<select name="city" class="form-control">
                                <option value="" disabled selected>City</option>
                                <%# cities.forEach(y=> { %>
                                    <option label="<%#= y %>" value="<%#= y %>" > <%#= y %></option>
                                <%# });%>
                            </select>
                        </div>              -->
                        <div class="col-3">
                            <button type="button" id="searchRecipe" class="btn btn-primary btn-block"><i class="fa fa-search"></i>Search Recipe</button>
                        </div>
                    </div>
                </form>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12" id="reciperesult">

                </div>
            </div>
        </div>
    </body>
</html>
